header {
    height: 116px;
    box-shadow: 3px 13px 20px 0px #170e17;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.head-title{
    font-family: kumar;
    font-size: 6vw;
}
.logo-container{
    display: flex;
    align-items: center;
}

#app-icon{
    height: 90px;
    width: 90px;
}
.router-link-active{
    box-shadow: 0px 9px 3px black;
}


.nav-bar a{
    text-align: center;
    color: white;
    font-family: noto;
    float: left;
    padding: 30px;
    width: 100px;
    height: 100px;
}
.nav-bar a:hover{
    box-shadow: 0px 9px 3px black;
}

.hum-icon{
    height: 50px;
    width: 50px;
    display: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 21px;
    transition: .6s;
}
@media(max-width:800px){

}


@media(max-width:1000px){
header{
    display: flex;
    justify-content: space-between;
}
.nav-bar{
    visibility: hidden;
}
.hum-icon{
    display: block;
    cursor: pointer;
}
.router-link-active{
    border: 3px solid;
    margin: 0;
    box-shadow: unset;
}

.hum-icon.open{
    transform: rotate(90deg);
    height: 70px;
    cursor: pointer;
}
.nav-bar.close{
    text-align: center;
    width: 60%;
    margin-left: 100%;
    visibility: hidden;
    background-color: #854463eb;
    height: 100vh;
    transition: .8s;
}

.nav-bar.open{
    text-align: center;
    width: 60%;
    visibility: visible;
    margin-left: 40%;
    background-color: #854463eb;
    height: 100vh;
    transition: .8s;
}
.nav-bar.open a{
    text-align: center;
    float: unset;
    display: block;
    width: 100%;
}
.nav-bar.close a{
    text-align: center;
    float: unset;
    display: block;
    width: 100%;
}

.menu.open{
    overflow: hidden;
    z-index: 1;
    top:116px;
    right: 0;
    width: 100%;
    background: #170e1796; 
    height: 100vh;
    position: absolute;   
}
.menu.close{
    overflow: hidden;
    z-index: 1;
    top:116px;
    right: 0;
    width: 100%;
    background: #170e1796; 
    height: 100vh;
    position: absolute;
    visibility: hidden;   
}

}
