.home-page-container{
    text-align: center;
    width: 100%;
    /* height: 100%; */
}



.home-page-title{
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    font-size: 40px;
    text-transform: uppercase;
    font-family: alfa;
}

.email-link ,.keep-link{
    margin-top:20px;
    /* border-radius: 50%; */
    padding: 0;
    border: unset;
    cursor: pointer;
    background: unset;
    margin-bottom: 10px;
}
.email-link img ,.keep-link img{
    height: 200px;
    width: 200px;
}
/* .keep-link img{
    height: 100px;
    width: 100px;
}
.keep-link{
    height: 100px;
    width: 100px;
} */
.email-link:hover ,.keep-link:hover{
    /* transform: skew(20deg,180deg) */
}

@media(max-width:600px){
    .email-link ,.keep-link{
        display: block;
        margin: 10px auto;
    }
}