.note-list-container{
    border: 1px solid black;
    border-radius: 10px;
    list-style-type: none;
    width: fit-content;
    margin: 10px;
    padding: 3px;

}

.notes-list{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    align-items: center;
}


@media (max-width: 700px) {
    .notes-list{
      flex-wrap:wrap;
    }
  }