.note-app-container{
    padding: 10px;

}

.notes-app-title{
    color: #dce2f1;
    text-align: left;
    font-size: 95px;
    font-family: 'Righteous', cursive;
    padding: 20px;
    text-shadow: -9px 1px 0px rgba(0,0,0), -15px 0px 0px rgba(0,0,0), -1px 3px 20px rgba(255, 255, 255, 0.671), 0px 8px 0px rgba(0,0,0,0.15)
}

#newNoteBtn{
    /* background-color: #9370DB; */
    border: none;
    color: black;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
   
}

i{
    background-color: transparent;
}

.btn-control{
    text-align: center;
    background-color: rgb(221, 221, 221);
    border-radius: 7px 7px 0 0 ;
    width: 30%;
    margin: 0 auto;
   
}

.newNoteBtn:hover{
    background-color:rgb(46, 41, 54);
}

.note-edit{
    display: grid;
    justify-content: center;
    width: 30%;
    margin: 0 auto;
    border-radius: 0 0 7px 7px;
}

#search-box{
    background-color: white;
    border-radius: 8px;
    padding: 1%;
    box-shadow: 0 0 10px black;
}

.note-filter{
    margin-right:20px;

}

.search-note-img{
    height: 40px;
    width: 40px;
    padding: 4px;
}

.app-header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 40px;
}

#todo{
    width: 30%;
    margin: 0 auto;
    border-radius: 0 0 7px 7px;

}

#tasks-box{
    background-color: white;
}

/* #cmpMain{
    transition: all 0.5s;
} */

@media (max-width:870px){
    .app-header{
        display: grid;
        justify-content: center;
          
    }
    .search-note-img{
        display: none;
    }

    #search-box{
        width: 90%;
    }

    .btn-control{
        width: 100%;
        margin: 10px auto;
    }

    .notes-app-title{
        font-size: 70px;
        text-align: center;
    }

    .note-edit{
        width:100%;
    }

    .panel, #todo{
        width:100%;
    }

    

    li{
        display: flex;
        flex-wrap:wrap;
    }

  

    
   
    }