.note-app-container{
    padding: 10px;

}

.notes-app-title{
    color: #dce2f1;
    text-align: left;
    font-size: 95px;
    font-family: 'Righteous', cursive;
    padding: 20px;
    text-shadow: -9px 1px 0px rgba(0,0,0), -15px 0px 0px rgba(0,0,0), -1px 3px 20px rgba(255, 255, 255, 0.671), 0px 8px 0px rgba(0,0,0,0.15)
}

.newNoteBtn{
    background-color: #9370DB;
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
   
}

.btn-control{
    text-align: center;
}

.newNoteBtn:hover{
    background-color:rgb(46, 41, 54);
}

.note-edit{
    display: grid;
    justify-content: center;
}

#search-box{
    background-color: white;
    border-radius: 8px;
    padding: 1%;
    box-shadow: 0 0 10px black;
}

.note-filter{
    margin-right:20px;

}

.search-note-img{
    height: 40px;
    width: 40px;
    padding: 4px;
}

.app-header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 40px;
}

@media(max-width:500x){
  
    li{
        display: flex;
        flex-wrap:wrap;
    }

  

    
   
    }