.note-app-container{
    height: 100%;
    background: lightgoldenrodyellow;
    background-size: cover;
}
.notes-app-title{
    text-align: center;
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.newNoteBtn{
    background-color: lightskyblue;
    cursor: pointer;
    border-radius: 5px;
    
}

.newNoteBtn:hover{
    background-color: lightgoldenrodyellow;
}