.email-app-container{
    height: 100vh;
    /* margin:  10px auto; */
    background: url('../../img/back-email.jpg') no-repeat center fixed;
    background-size: cover;
}

.email-top-title{
    text-align: center;
    font-size: 60px;
    font-family: 'Righteous', cursive;
    padding: 20px;
}

.edit-email-container{
    display: flex;
}
@media(max-width:800px){
.edit-email-container{
    flex-direction: column;
}
}

