.add-email-container{
    background: rgba(108, 71, 114, 0.69);
    position: absolute;
    width: 100%;
    height: 100%;
    top:116px;
    font-family: noto;
}

.new-email-container{
    text-align: center;
    width: 90%;
    border: 8px ridge rgb(230, 137, 137);
    position: absolute;
    top: 10%;
    right: 5%;
    height: fit-content;
    padding-bottom:10px; 
    background: rgb(228, 222, 222);
}

.from-container,.to-container{
    display: flex;
    align-items: center;
    border-top: 1px solid;
    padding-left: 20px;
}
.to-container{
    border-bottom: 1px solid;
}

.from-container span,.to-container span{
   width: fit-content;
}
.from-input,.to-input{
    margin: 10px;
    width: 100%;
    height: 5vh;
    border: 0;
}

.subject-input{
    display: block;
    height: 50px;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    padding: 10px;
}
.add-textarea{
    width: 90%;
    display: block;
    margin-left: 5%;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 10px;
}


.add-email-container h1{
    margin-top: 10px;
    font-size: 2.5em;
}

.send-add-btn.valid-send{
    cursor: pointer;
    font-family: noto;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(230, 137, 137);
    background: white;
    transition: .5s;
}
.send-add-btn{
    cursor: no-drop;
    font-family: noto;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(230, 137, 137);
    background: white;
}
.send-add-btn.valid-send:hover{
    border: 2px solid white
}

.close-add-btn{
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    right: 15px;
    top: 10px;
    background: unset;
    border: unset;
    transition: .5s;
}

.close-add-btn:hover{
    color: rgb(230, 137, 137);
}