
.fliter-container{
    border: 3px solid;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    background-color: rgba(168, 88, 22, 0.63);
}

.fliter-radio{
    font-size: 1em; 
    font-family: 'Gill Sans', 'Gill Sans MT', 
                  Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

}

.filter-txt{
    display: flex;
    align-items: center;
    font-size: 2em; 
    font-family: 'Gill Sans', 'Gill Sans MT', 
                  Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold; 
    text-align: center;
}

.filter-txt input{
    padding: 6px;
    border-radius: 8px;
    background-color: white;
}
