.details-container{
    position: relative;
    border: 3px solid;
    border-radius: 10px;
    width: 50%;
    height: fit-content;
    margin-top: 20px;
    margin-left: 25%;
    padding-bottom: 10px;
    overflow: auto;
    font-family: noto;
    background: rgba(255, 255, 255, 0.74);
}

@media(max-width:900px){
    .details-container{
        width: 80%;  
        margin-left: 10%;
    }
}



.details-info{
    padding-left: 5px;
    height:fit-content ;
    border-bottom: 1px solid rgba(0, 0, 0, 0.253);
    padding: 5px;
}
.details-info span{
    font-weight: bolder;
   
}


.subject-details{
    border-bottom: 5px double;
    text-align: center;
    font-size: 2em;
    padding: 5px;
    font-weight: bolder;
}

.time-details{
    font-weight: bolder;
    font-size: 10px;
    margin-left: 5px;
}
.body-details{
    padding: 10px;
}

.close-details-btn{
    font-size: 2em;
    position: absolute;
    top: 15px;
    right: 15px;
    background: unset;
    border: unset;
    cursor: pointer;
    transition: .5s;
}

.close-details-btn:hover{
    
    color: rgb(230, 137, 137);
}