.email-container{
    display: flex;
    border: 3px solid;
    margin: 4px;
    padding: 0;
    cursor: pointer;
}
.email-container:hover{
  box-shadow: 0px -6px 11px black;
}


.email-container  img{
    height: 40px;
    width: 50px;
}